body{
	width: 300px;
	height:200px;
	text-align: center;
	background-color: #070227;
}

h1{
	text-transform: uppercase;
        font-weight: 700;
	font-family: 'Dosis';
        font-size: 22px;
	text-shadow: 2px 4px 20px #b892f0;
	color: white;
}

button {
	border-radius: 12px;
	font-family: 'Dosis';
	text-transform: uppercase;
	background-color: rgba(255, 0, 0, 0);
	border: 2px solid #924DF9;
	color: white;
	border-radius: 10px;
	text-align: center;
	display: inline-block;
	font-size: 12px;
	padding: 10px;
	margin: 4px 2px;
	transition: 0.3s;
}

button:hover {
	animation-name: example;
	animation-duration: 1s;
	background-color: #924DF9
}

button:after {
	background-color: orange;
}

@keyframes example {
  0% {background-color: rgba(255, 0, 0, 0)}
  50% {background-color: #924DF9}
  100% {background-color: #924DF9}
}
